
<% if(typeof errors != 'undefined'){ %> 
  <% errors.forEach(function(error) { %>
  <div role="alert" style="color: red;">
    <%= error.msg %>
  </div>
<%})};%>

<% if(success_msg != ''){ %>
  <div role="alert" style="color: green;">
    <%= success_msg %>
  </div>
<%}%>


<% if(error_msg != ''){ %>
  <div role="alert" style="color: red;">
    <%= error_msg %>
  </div>
<%}%>
